html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #540d6e;
}

table {
    
}

.quiz-container {
    width: 600px;
    max-width: 60%;
    height: 400px;
    background-color: #ffd23f;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 6px #540d6e;
}

.answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    gap: 12px;
    
}

.btn:hover {
    color: yellow;
    background-color: #ee4266;
}

.btn {
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    border: 0;
    padding: 10px;
    box-shadow: 0 6px #540d6e;
}

.btn:active {
    background-color: #c03553;
    box-shadow: #540d6e;
    transform: translateY(4px);
}

.btn.correct {

}

.btn.incorrect {
    
}

#start-quiz {
    
}

#quiz-timer {

}

#question-container {

}

#choices {
  
}