html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #540d6e;
    font-family: 'VT323', monospace;
}

body {
    background-image: url(https://github.com/Zero-0X/Challenge_4_Beginner_Code_Quiz/blob/main/91657.jpg?raw=true);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-right {
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: #ffd23f;
}

#quiz-timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    color: #ffd23f;
    text-shadow: 4px 4px #ee4266;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #quiz-timer h1 {
    margin: 0;
  }

#quiz-container {
    width: 800px;
    max-width: 60%;
    height: 300px;
    background-color: #ffd23f;
    border-radius: 15px;
    padding: 20px;
    margin: 80px auto;
    box-shadow: 6px 6px #ee4266;
}

#question {
    font-size: 30px;
    color: #540d6e; 
    text-decoration: underline #ee4266;
  }
  
  #choices button {
    font-size: 23px;
    font-family: 'VT323', monospace;
  }

.answers button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    margin-top: 10px;
    gap: 12px;
    color: #540d6e;
}

.btn:hover {
    color: yellow;
    background-color: #ee4266;
}

.btn {
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    border: 0;
    padding: 10px;
    box-shadow: 4px 4px #540d6e;
}

.btn:active {
    background-color: #c03553;
    transform: translateY(4px);
}

.btn.correct {
    background-color: #66ff00;
    color: #540d6e;
}

.btn.incorrect {
    background-color: #ff0000;
    color: #ffd23f;
}

.catch-phrase {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    color: #ffd23f;
    text-shadow: 4px 4px #ee4266;
    padding: 20px 50px;
    margin: 0 auto 40px;
}

.start-quiz, .next-question, .leaderboard {
    font-family: 'VT323', monospace;
    padding: 10px 50px;
    font-size: 50px;
    background-color: #ffd23f;
    color: #540d6e;
    box-shadow: 4px 4px #540d6e;
    border-radius: 15px;
    border: 0;
}

.start-quiz:hover, .next-question:hover, .leaderboard:hover {
    border-radius: 15px;
    border: 0;
    padding: 10px 50px;
    font-size: 50px;
    box-shadow: 4px 4px #540d6e;
    background-color: #ee4266;
    color: #ffd23f;
}

.start-quiz:hover, .leaderboard:hover { 
    box-shadow: 4px 4px #ffd23f;
}

.start-quiz:active, .next-question:active, .leaderboard:active {
    background-color: #c03553;
    transform: translateY(4px);
}

.leaderboard, .leaderboard:hover, .leaderboard:active {
    padding: 10px 30px;
    width: fit-content;
}

.start-next {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.catch-phrase, .start-quiz, .next-question, .leaderboard {
    margin-top: 0;
}

.hide {
    display: none;
}